<% include ../partials/header %>

<div class="container">
     
       <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span>Faculty's Directory!</h1>
             <p>Get information of all the famous CA faculty on this website.</p>
              <p>
              <form action="/teachers" method="GET" class="form-inline mt-2 mt-md-0" id="teacher-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Faculty search..." class="form-control mr-sm-2" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
              </form>
             </p>
         </div>
     </header>
  
     <div class="row text-center" id="campground-grid">
         <%teachers.forEach(function(teacher){ %>    
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="<%=teacher.image%>" alt="<%=teacher.firstName %>+ " " + <%=teacher.lastName%>">
                  <div class="card-body">
                  <div class="border-bottom">
                    <h5 class="card-title"><%=teacher.firstName %> <%=teacher.lastName%></h5>
                    <p class="card-text"><%=teacher.description%>...</p>
                    <a href="/teachers/<%=teacher._id%>" class="btn btn-primary mb-3">More Info</a>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-4 tc">
                      Times Downloaded
                    </div>    
                    <div class="col-md-4 tc">
                      Notes Uploaded 
                    </div>    
                    <div class="col-md-4 tc">
                       Videos Uploaded
                    </div>
                  </div>                  
                  <div class="row">
                    <div class="col-md-4 tc">
                      <p><span class="badge badge-primary">
                        <%=teacher.downloads.reduce(function (accumulator, download) {return accumulator + download.downloadCounter}, 0)%>
                      </span></p>
                    </div>    
                    <div class="col-md-4 tc">
                      <p><span class="badge badge-primary"><%=teacher.downloads.length%></span></p>
                    </div>    
                    <div class="col-md-4 tc">
                       <p><span class="badge badge-primary"><%=teacher.videos.length%></span></p>
                    </div>
                  </div>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>